<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<br>
<div class="card text-white bg-dark mb-3 card-user">
  <div class="card-header">
    <h2>Log in</h2>
  </div>
  <div class="field-user">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-group-text card-user" %>
  </div>

  <div class="field field-user">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"input-group-text card-user" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field field-user">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions field-user">
    <%= f.submit "Log in", class:"btn btn-light" %>
  </div>
  <div class="field-user">
  <%= render "devise/shared/links" %>
  <br>
  </div>
</div>
<% end %>

