<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">
</head>

<body>
    <!-- Page Content -->
            <div class="w3-container">
  <h2><span class="badge badge-light">Select your category</span></h2>

  <div class="w3-row">
    <% Category.all.where(id: 1).each do |category| %>
    <a href="javascript:void(0)" onclick="openTab(event, 'FirstTab');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding"><%= category.title %></div>
    </a>
    <% end %>
    <% Category.all.where(id: 2).each do |category| %>
    <a href="javascript:void(0)" onclick="openTab(event, 'SecondTab');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding"><%= category.title %></div>
    </a>
    <% end %>
    <% Category.all.where(id: 3).each do |category| %>
    <a href="javascript:void(0)" onclick="openTab(event, 'ThirdTab');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding"><%= category.title %></div>
    </a>
    <% end %>
  </div>
    <div id="FirstTab" class="row w3-animate-bottom" style="display:none">
        <div class="container">
            <!-- /.col-lg-3 -->
            <% Item.all.where(category_id: 1).each do |item| %>
            <div style="margin: 0 auto" class="col-lg-9">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src=<%= item.image %> >
                    <div class="card-body">
                        <h3 class="card-title"><%= item.title %></h3>
                        <h4><%= item.price %></h4>
                        <p class="card-text">
                            <%= item.description %>
                        </p>
                             <%= form_for @prout_item do |f| %>
                                <%= f.hidden_field :item_id, value: item.id %>
                                <%= f.number_field :quantity %>
                                <%= f.submit "Add to cart" %>
                              <% end %>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-9 -->
            <% end %>
        </div>
    </div>
    <div id="SecondTab" class="row w3-animate-bottom" style="display:none">
        <div class="container">
            <!-- /.col-lg-3 -->
            <% Item.all.where(category_id: 2).each do |item| %>
            <div style="margin: 0 auto" class="col-lg-9">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src=<%= item.image %> >
                    <div class="card-body">
                        <h3 class="card-title"><%= item.title %></h3>
                        <h4><%= item.price %></h4>
                        <p class="card-text">
                            <%= item.description %>
                        </p>
                        <%= link_to "Show", item, class:"btn btn-dark"%>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-9 -->
            <% end %>
        </div>
    </div>
    <div id="ThirdTab" class="row w3-animate-bottom" style="display:none">
        <div class="container">
            <!-- /.col-lg-3 -->
            <% Item.all.where(category_id: 3).each do |item| %>
            <div style="margin: 0 auto" class="col-lg-9">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src=<%= item.image %> >
                    <div class="card-body">
                        <h3 class="card-title"><%= item.title %></h3>
                        <h4><%= item.price %></h4>
                        <p class="card-text">
                            <%= item.description %>
                        </p>
                        <%= link_to "Show", item, class:"btn btn-dark"%>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-9 -->
            <% end %>
        </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <script>
    function openTab(evt, tabName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("row");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
         tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.firstElementChild.className += " w3-border-red";
    }
</script>
</body>

</html>